<app-header showButtonBack="/dashboard" title="Comprar Créditos"></app-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row style="display: flex; justify-content: space-between;">
      <ion-col size="12" style="padding-bottom: 10px;">
        <ion-label class="title">Escolha a quantidade que deseja comprar:</ion-label>
      </ion-col>
      <ion-col size="3" (click)="getValor(15)" [style.background-color]="credito == 15 ? '#6baee0' : null"
        class="tipoveiculo-card" style="display: flex">
        <span>R$ 15</span>
      </ion-col>
      <ion-col size="3" (click)="getValor(30)" [style.background-color]="credito == 30 ? '#6baee0' : null"
        class="tipoveiculo-card" style="display: flex">
        <span>R$ 30</span>
      </ion-col>
      <ion-col size="3" (click)="getValor(45)" [style.background-color]="credito == 45 ? '#6baee0' : null"
        class="tipoveiculo-card" style="display: flex">
        <span>R$ 45</span>
      </ion-col>
      <ion-col size="3" (click)="getValor(60)" [style.background-color]="credito == 60 ? '#6baee0' : null"
        class="tipoveiculo-card" style="display: flex">
        <span>R$ 60</span>
      </ion-col>
      <ion-col size="3" (click)="getValor(90)" [style.background-color]="credito == 90 ? '#6baee0' : null"
        class="tipoveiculo-card" style="display: flex">
        <span>R$ 90</span>
      </ion-col>
      <ion-col size="3" (click)="getValor(105)" [style.background-color]="credito == 105 ? '#6baee0' : null"
        class="tipoveiculo-card" style="display: flex">
        <span>R$ 105</span>
      </ion-col>
    </ion-row>
    <ion-row style="padding: 1em 0; display: flex; justify-content: space-between;">
      <ion-col class="dash-card">
        <span class="title">Saldo Atual</span>
        <br />
        <span class="cifrao">R$</span> <span class="saldo">{{ saldo }}</span>
      </ion-col>
    </ion-row>
    <ion-row style="display: flex; justify-content: space-between;">
      <ion-col>
        <button class="btn" style="background-color: #c80000;" ion-button (click)="back()">
          Cancelar
        </button>
      </ion-col>
      <ion-col>
        <button class="btn" secondary ion-button (click)="adicionar()">
          Adicionar
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>